<h1>Listing send_attempts</h1>
<%= link_to "back", @certificate.certifiable %>
<table>
  <tr>
    <th>Message</th>
    <th>Certificate</th>
    <th></th>
  </tr>

<% @send_attempts.each do |send_attempt| %>
  <tr>
    <td><%= send_attempt.message %></td>
    <td><%= send_attempt.certificate %></td>
    <td><%= link_to 'Destroy', certificate_send_attempts_path(send_attempt), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "back", @certificate.certifiable %>
