A IT Cursos certifica a participação de <strong><%= @certifiable.name.upcase %></strong> no curso <strong><%= @certificate.course.upcase %></strong>, com carga horária total de <strong><%= @certificate.duration %></strong>,  realizado no período de <strong><%= @certificate.start_date %></strong> a <strong><%= @certificate.end_date %></strong>, em Natal/RN<% if @certificate.certifiable_type == "Lecturer" %>, na qualidade de <strong>PROFESSOR</strong><% end %>.

<div id="topics">
<h2>CONTEÚDO PROGRAMÁTICO</h2>
    <div class="column_offset">
        &nbsp;
    </div>
    <%
        topics = @certificate.topics.split(",")
        size = (topics.length/2.0).ceil()
        topics.each_slice(size) do |slice_topic|
    %>
    <div class="column">
    <ul
    <% slice_topic.each do |topic| %>
            ><li><%= "#{topic.strip}" %></li
    <% end %>
    ></ul>
    </div>
    <% end %>
</div>